<section id="inicio" class="home">
    <h1>Arrienda tu Finca</h1>
    <p>Conectamos propietarios y arrendatarios para experiencias únicas en el campo.</p>
    <div class="cta-buttons">
      <button class="cta-btn" (click)="irAlLogin()" >Subir una propiedad</button>
      <button class="cta-btn" (click)="irAlLogin()">Arrendar una propiedad</button>
    </div>
    <div class="services">
      <div class="service">
        <h3>Para Arrendadores</h3>
        <ul>
          <li>Publicación fácil de propiedades</li>
          <li>Gestión de reservas</li>
          <li>Soporte 24/7</li>
        </ul>
      </div>
      <div class="service">
        <h3>Para Arrendatarios</h3>
        <ul>
          <li>Amplia selección de fincas</li>
          <li>Reservas seguras</li>
          <li>Experiencias auténticas</li>
        </ul>
      </div>
    </div>
  </section>
