<header>
    <div class="container">
      <h1>ArriendaTuFinca</h1>
      <nav>
        <a routerLink="/">Inicio</a>
        <a routerLink="/solicitar-arriendo" routerLinkActive="active">Solicitar Arriendo</a>
        <a routerLink="/calificar-arrendador" routerLinkActive="active">Calificar Arrendador</a>
      </nav>
    </div>
</header>

<div class="calificar-arrendatario fade-in">
    <h2>Calificar Arrendatario</h2>

    <div *ngIf="arrendatariosPorCalificar.length > 0; else noSolicitudes">
      <h3>Calificar arrendatarios:</h3>
      <ul>
        <li *ngFor="let arrendatario of arrendatariosPorCalificar">
          <div class="arrendatario-info">
            <span>{{ arrendatario.nombre }}</span>&nbsp;
            <span>{{ arrendatario.apellido }}</span>
          </div>
          <button (click)="calificar(arrendatario)">Calificar</button>
        </li>
      </ul>
    </div>

    <ng-template #noSolicitudes>
      <p>No hay arrendatarios por calificar.</p>
    </ng-template>

    <div *ngIf="arrendatarioSeleccionado" class="formulario-calificacion">
      <h3>Calificar a {{ arrendatarioSeleccionado.nombre }}</h3>
      <form (ngSubmit)="enviarCalificacion()">
        <div>
          <label for="calificacion">Calificación (1-5 estrellas):</label>
          <input type="number" id="calificacion" [(ngModel)]="arrendatarioSeleccionado.calificacion" name="calificacion" min="1" max="5" required>
        </div>
        <div>
          <label for="comentario">Comentario:</label>
          <textarea id="comentario" [(ngModel)]="arrendatarioSeleccionado.comentario" name="comentario" rows="4" required></textarea>
        </div>
        <button type="submit">Enviar Calificación</button>
      </form>
    </div>
</div>
