<section id="sobre-nosotros" class="about-us">
    <h2>Sobre Nosotros</h2>
    <p>En Arrienda tu Finca, somos un equipo apasionado por conectar a las personas con experiencias únicas en el campo. Nuestra misión es facilitar el arrendamiento de fincas, creando oportunidades tanto para propietarios como para aquellos que buscan escapar de la ciudad.</p>
    <div class="team">
      <div class="team-member">
        <img src='../../../assets/images/fotoJorge.png' alt="Miembro del equipo">
        <h3>Jorge Torrado</h3>
        <p>Ingeniero DevOps</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/images/fotoErick.png" alt="Miembro del equipo">
        <h3>Erik Camargo</h3>
        <p>Scrum Master</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/images/fotoVasquez.png" alt="Miembro del equipo">
        <h3>Juan Vasquez</h3>
        <p>Desarrollador Backend</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/images/fotoZenen.png" alt="Miembro del equipo">
        <h3>Zenen Contreras</h3>
        <p>Desarrollador FrontEnd</p>
      </div>
      <div class="team-member">
        <img src="../../../assets/images/fotoPendiente.jpg" alt="Miembro del equipo">
        <h3>Juan Cifuentes</h3>
        <p>Desarrollador Backend</p>
      </div>
    </div>
  </section>
