<app-navbar-arrendatario></app-navbar-arrendatario>

<div class="container-editar">
  <!-- Sección de la Imagen Editable -->
  <div class="left-section">
    <img [src]="nuevaImagen || getImagenUrl(propiedad.urlImagen)" alt="Imagen de la propiedad" class="imagen-propiedad" />
    <div class="edit-overlay" (click)="triggerFileInput()">
      <img src="../../../../assets/images/editIcon.png" alt="Editar Imagen" />
    </div>
    <input
      type="file"
      #fileInput
      accept="image/*"
      style="display: none;"
      (change)="editarImagen($event)"
    />
  </div>


  <!-- Sección del Formulario -->
  <div class="right-section">
    <form #form="ngForm" (ngSubmit)="guardarCambios()">
      <h2>Editar Propiedad</h2>

      <!-- Nombre de la Propiedad -->
      <div class="form-group">
        <label for="nombrePropiedad">Nombre:</label>
        <div class="input-container">
          <input
            type="text"
            id="nombrePropiedad"
            [(ngModel)]="propiedad['nombrePropiedad']"
            name="nombrePropiedad"
            [readonly]="!editarCampos['nombrePropiedad']"
            required
          />
          <img
            src="../../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('nombrePropiedad')"
          />
        </div>
      </div>

      <!-- Descripción -->
      <div class="form-group">
        <label for="descripcion">Descripción:</label>
        <div class="input-container">
          <textarea
            id="descripcion"
            [(ngModel)]="propiedad['descripcion']"
            name="descripcion"
            [readonly]="!editarCampos['descripcion']"
            required
          ></textarea>
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('descripcion')"
          />
        </div>
      </div>

      <!-- Valor por Noche -->
      <div class="form-group">
        <label for="valorNoche">Valor por Noche:</label>
        <div class="input-container">
          <input
            type="number"
            id="valorNoche"
            [(ngModel)]="propiedad['valorNoche']"
            name="valorNoche"
            [readonly]="!editarCampos['valorNoche']"
            required
          />
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('valorNoche')"
          />
        </div>
      </div>

      <!-- Departamento -->
      <div class="form-group">
        <label for="departamento">Departamento:</label>
        <div class="input-container">
          <input
            type="text"
            id="departamento"
            [(ngModel)]="propiedad['departamento']"
            name="departamento"
            [readonly]="!editarCampos['departamento']"
            required
          />
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('departamento')"
          />
        </div>
      </div>

      <!-- Municipio -->
      <div class="form-group">
        <label for="municipio">Municipio:</label>
        <div class="input-container">
          <input
            type="text"
            id="municipio"
            [(ngModel)]="propiedad['municipio']"
            name="municipio"
            [readonly]="!editarCampos['municipio']"
            required
          />
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('municipio')"
          />
        </div>
      </div>

      <!-- Tipo de Ingreso -->
      <div class="form-group">
        <label for="tipoIngreso">Tipo de Ingreso:</label>
        <div class="input-container">
          <input
            type="text"
            id="tipoIngreso"
            [(ngModel)]="propiedad['tipoIngreso']"
            name="tipoIngreso"
            [readonly]="!editarCampos['tipoIngreso']"
            required
          />
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('tipoIngreso')"
          />
        </div>
      </div>

      <!-- Cantidad de Habitaciones -->
      <div class="form-group">
        <label for="cantidadHabitaciones">Cantidad de Habitaciones:</label>
        <div class="input-container">
          <input
            type="number"
            id="cantidadHabitaciones"
            [(ngModel)]="propiedad['cantidadHabitaciones']"
            name="cantidadHabitaciones"
            [readonly]="!editarCampos['cantidadHabitaciones']"
            required
          />
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('cantidadHabitaciones')"
          />
        </div>
      </div>

      <!-- Cantidad de Baños -->
      <div class="form-group">
        <label for="cantidadBanos">Cantidad de Baños:</label>
        <div class="input-container">
          <input
            type="number"
            id="cantidadBanos"
            [(ngModel)]="propiedad['cantidadBanos']"
            name="cantidadBanos"
            [readonly]="!editarCampos['cantidadBanos']"
            required
          />
          <img
            src="../../../assets/images/editIcon.png"
            alt="Editar"
            class="edit-icon"
            (click)="toggleEditar('cantidadBanos')"
          />
        </div>
      </div>

      <!-- Mascotas Permitidas -->
      <div class="form-group">
        <label>Mascotas Permitidas:</label>
        <input
          type="checkbox"
          [(ngModel)]="propiedad['permiteMascotas']"
          name="permiteMascotas"
          [disabled]="!editarCampos['permiteMascotas']"
        />
        <img
          src="../../../assets/images/editIcon.png"
          alt="Editar"
          class="edit-icon"
          (click)="toggleEditar('permiteMascotas')"
        />
      </div>

      <!-- Tiene Piscina -->
      <div class="form-group">
        <label>Tiene Piscina:</label>
        <input
          type="checkbox"
          [(ngModel)]="propiedad['tienePiscina']"
          name="tienePiscina"
          [disabled]="!editarCampos['tienePiscina']"
        />
        <img
          src="../../../assets/images/editIcon.png"
          alt="Editar"
          class="edit-icon"
          (click)="toggleEditar('tienePiscina')"
        />
      </div>

      <!-- Tiene Asador -->
      <div class="form-group">
        <label>Tiene Asador:</label>
        <input
          type="checkbox"
          [(ngModel)]="propiedad['tieneAsador']"
          name="tieneAsador"
          [disabled]="!editarCampos['tieneAsador']"
        />
        <img
          src="../../../assets/images/editIcon.png"
          alt="Editar"
          class="edit-icon"
          (click)="toggleEditar('tieneAsador')"
        />
      </div>

      <!-- Botones de Acción -->
      <div class="botones">
        <button type="submit">Guardar Cambios</button>
        <button type="button" (click)="cancelar()">Cancelar</button>
      </div>
    </form>
  </div>
</div>
<app-footer-arrendador></app-footer-arrendador>
