nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: rgba(76, 175, 79, 0.9);
  color: white;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1000;
  backdrop-filter: blur(5px);
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
}

.logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  white-space: nowrap;
}

.menu {
  display: flex;
  gap: 1rem;
}

.menu a {
  color: white;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease, transform 0.3s ease;
  position: relative;
  font-size: 1.2rem;
}

.menu a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  bottom: -5px;
  left: 0;
  background-color: #DBFF76;
  transition: width 0.3s ease;
}

.menu a:hover {
  color: #DBFF76;
  transform: translateY(-2px);
}

.menu a:hover::after {
  width: 100%;
}

.login-btn {
  background-color: #DBFF76;
  color: #4CAF50;
  border: none;
  padding: 0.4rem 0.8rem;
  border-radius: 25px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  font-size: 0.9rem;
}

.login-btn:hover {
  background-color: #cdfa51;
  transform: translateY(-2px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 25px;
  height: 3px;
  background-color: white;
  margin: 2px 0;
  transition: 0.4s;
}

@media (max-width: 768px) {
  nav {
    padding: 0.5rem 1rem;
  }
  .menu {
    display: none;
  }
  .hamburger {
    display: flex;
  }
}