.container {
  background-image: url('../../../../assets/images/finca.webp');
  background-size: cover;
  background-position: center;
  padding: 40px 20px;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: white;
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
}

form {
  background-color: rgba(0, 0, 0, 0.75);
  padding: 30px;
  border-radius: 15px;
  width: 100%;
  max-width: 700px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}

form div {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #f0f0f0;
  font-size: 1.1em;
}

input[type="text"],
input[type="number"],
textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ddd;
  background-color: #fff;
  font-size: 1.1em;
  color: #333;
  box-sizing: border-box;
}

textarea {
  resize: vertical;
  height: 120px;
}

input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2);
}

button {
  padding: 12px 25px;
  border: none;
  border-radius: 8px;
  color: white;
  background-color: #007bff;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 100%;
  font-size: 1.2em;
  margin-top: 20px;
}

button:hover {
  background-color: #0056b3;
}

button:focus {
  outline: none;
  box-shadow: 0 0 5px #0056b3;
}

.image-upload {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 20px;
  color: white;
  text-align: center;
}

.camera-icon {
  width: 60px;
  height: 60px;
  cursor: pointer;
  margin-bottom: 10px;
}

#file-input {
  display: none;
}

.image-upload label {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.image-upload span {
  font-size: 1.2em;
  color: #ccc;
  margin-top: 10px;
}

.image-upload img {
  width: 150px; /* Aumenta el tamaño de la imagen seleccionada */
  height: 150px;
  margin-bottom: 10px;
  object-fit: cover; /* Asegúrate de que la imagen se ajuste correctamente */
  border-radius: 8px;
  border: 2px solid #ddd;
}

.checkbox-group {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 20px;
}

.checkbox-group label {
  margin-left: 10px;
}

@media (max-width: 768px) {
  h2 {
      font-size: 2em;
  }

  form {
      padding: 20px;
  }

  input[type="text"],
  input[type="number"],
  textarea {
      font-size: 1em;
  }

  button {
      font-size: 1em;
  }

  .camera-icon {
      width: 50px;
      height: 50px;
  }

  .image-upload span {
      font-size: 1em;
  }

  .image-upload img {
      width: 100px; /* Ajusta el tamaño en pantallas pequeñas */
      height: 100px;
  }
}
